@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Pacifico&family=Poppins:wght@300&display=swap');

:root {
  --first: 'Pacifico', cursive;
  --second: 'Poppins', sans-serif;
  --third: 'Lobster Two', cursive;
  --lightmodeback: white;
  --lightmodecolor: #1d1d1d;
  --footergradiant: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--second);
}

body {
  position: relative;
}

/* Header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding: 5px 20px;
}

.header .logo img {
  width: 40px;
  height: 40px;
}

.header .navbar {
  padding: 0;
  margin-right: 50px;
}

.header .navbar .navlist {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  gap: 20px;
}

.header .navbar .navlist li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.header .navbutton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.header .navbutton .navbtn {
  width: 40px;
  height: 40px;
}

.header a:link {
  text-decoration: none;
}

@media(max-width:576px) {
  .header {
    position: relative;
  }

  .header .navbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  }

  .header .navbutton .navbtn.close {
    display: none;
  }

  .header .navbar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    z-index: 1;
    display: none;
  }

  .header .navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 50px !important;
  }

  .header.active .navbar {
    display: flex;
    justify-content: center;
    animation: animatenavbar 0.5s ease;
  }

  @keyframes animatenavbar {
    0% {
      transform: translateX(500px);
    }
  }

  .header.active .navbutton .navbtn.close {
    display: block;
    animation: closeanimation 0.5s ease;
  }

  @keyframes closeanimation {
    0% {
      transform: rotate(90deg);
    }
  }

  .header.active .navbutton .navbtn.open {
    display: none;
  }

  .header.active .navbutton {
    position: fixed;
    top: 0;
    right: 10px;
  }

  .content h1 {
    font-size: 10px;
  }
}

/* footer section */
.footercontent {
  background-color: #f3f3f3;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.footer .heading {
  height: 50px;
}

.footer .footerdiv {
  width: 300px;

}

.footer .info {
  padding-left: 10px;
}

.footer .heading h5 {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.footer p {
  font-size: 16px;
}

.footer .social .socialicons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.footer .social .socialicons .icon {
  font-size: 30px;
}

.footer .contact h5 {
  font-size: 18px;
  font-weight: bold;
}

.footer .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
}

.footer input {
  background-color: #f3f3f3;
  outline: none;
  border: none;
  width: 100%;
  font-size: 20px;
  margin-left: 10px;
}

.footer .inputs .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.copyright {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  background-color: #1d1d1d;
  color: #f3f3f3;
}

.copyright h1 {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
}

@media(max-width:576px) {
  .footer .footerdiv {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

/* Nopage section */
.nopage {
  margin-bottom: 50px;
}

.box {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h1 {
  color: #1d1d1d;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.nopageicons {
  font-size: 50px;
}

.nopagebtn {
  margin: 0 auto;
  display: block;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: #1d1d1d;
  color: #f3f3f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.nopagebtn:hover {
  transform: scale(1.1);
}

.nopagelink:hover {
  text-decoration: none;
  margin: 0;
}

@media(max-width:576px) {
  .nopage h1 {
    font-size: 25px;
  }
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0;
}

.hero div {
  width: 50%;
}

.hero .image img {
  width: 100%;
  height: 400px;
}

.hero .content {
  padding: 10px;
}

.hero h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero h5 {
  font-size: 22px;
}

.hero button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #1d1d1d;
  color: #f3f3f3;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}

.hero button:hover {
  background-color: #f3f3f3;
  color: #1d1d1d;
}

@media(max-width:576px) {
  .hero {
    display: block;
  }

  .hero .content h1 {
    font-size: 30px;
  }

  .hero .image {
    width: 100%;
  }

  .hero .image img {
    width: 100%;
    height: 300px;
  }

  .hero .content {
    width: 100%;
  }
}

/* contact section */
.contacts {
  margin-top: 50px;
}

.contacts h5 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.contacts .forms {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.forms div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0;
}

.contacts input {
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  padding: 2px 5px;
  width: 100%;
}

.contacts .icons {
  font-size: 20px;
  margin-right: 10px;
}

.contacts textarea {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100px;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
}

.contacts button {
  padding: 10px 20px;
  margin: 10px auto;
  background-color: #1d1d1d;
  color: #f3f3f3;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  display: block;
  transition: 0.5s ease;
}

.contacts button:hover {
  background-color: #f3f3f3;
  color: #1d1d1d;
}

@media(max-width:576px) {
  .contacts .forms {
    width: 300px;
  }
}

/* Trusted section */
.trusted {
  margin: 50px 0;
  padding: 40px 0;
  background-color: #f3f3f3;
}

.trusted h5 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.trusted .company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

.trusted .company div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trusted .company div img {
  width: 80px;
  height: 80px;
}

@media(max-width:576px) {
  .trusted img {
    width: 60px !important;
    height: 60px !important;
  }

  .trusted {
    margin: 0;
  }

  .trusted h5 {
    font-size: 30px !important;
  }
}

/* process section */
.process {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.process .box {
  width: 400px;
  height: 150px;
  background-color: #1d1d1d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.process .box .iconbox {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  font-size: 30px;
}

.process .box .content {
  padding: 10px 0;
}

.process .content h5 {
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #f3f3f3;
}

.process .processmiddle {
  width: 400px;
  height: 150px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.process .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #1d1d1d;
  padding: 10px;
  cursor: pointer;
}

.process .processmiddle .boxes .iconbox {
  width: 50px !important;
  height: 43.54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: white;
}

.process .boxes .content {
  width: 100%;
}

@media(max-width:768px) {

  .process .box,
  .process .processmiddle {
    margin: 15px auto;
  }

  .process {
    margin: 20px 0;
    flex-wrap: wrap;
  }

  .process h5 {
    font-size: 20px !important;
    text-align: left !important;
    padding-left: 10px;
  }
}

/* card section */
.featureproduct {
  margin: 80px auto;
}

.productdata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.productdata a:link {
  text-decoration: none;
}

.featureproduct .featureheading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.card {
  width: 300px;
  background-color: #f3f3f3 !important;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.card .image {
  width: 100%;
  height: 200px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.card h5 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

@media(max-width:576px) {
  .featureproduct {
    margin: 20px 0;
  }

  .featureproduct .productdata {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .featureheading {
    font-size: 25px !important;
  }

  .productdata .card {
    margin: 10px auto;
  }
}

/* productimage section */
.singleproduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.singleproduct .image,
.singleproduct .content {
  width: 50%;
}

.singleproduct .content {
  padding: 20px !important;
}

.productimage {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productimage .imagegroup {
  width: 220px !important;
}

.imagegroup .image {
  width: 100%;
  height: 150px;
  margin: 5px 0;
  cursor: pointer;
}

.imagegroup .image img {
  width: 100%;
  height: 100%;
}

.productimage .mainimage {
  width: 350px;
  margin-left: 10px;
  cursor: pointer;
}

.productimage .mainimage img {
  width: 100%;
  height: 250px;
}

.singleproduct .content {
  padding: 50px 0;
}

.singleproduct .processship {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.singleproduct .processship .processbox {
  width: 25%;
  border-radius: 50%;
}

.singleproduct .processship .processbox div {
  width: 50px;
  height: 50px;
  background-color: #f3f3f3;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleproduct .processship .processbox .icons {
  font-size: 30px;
  font-weight: bold;
}

.processship p {
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.singleproduct hr {
  border: 1px solid black;
  background-color: #1d1d1d;
}

.singleproduct h1 {
  font-size: 25px;
  font-weight: bold;
}

.singleproduct h5 {
  font-size: 18px;
}

.singleproduct span {
  font-weight: bold;
}

.navigation {
  font-weight: bold;
}

.navigation a:link {
  text-decoration: none;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reviews .icon {
  font-size: 25px;
}

.addcartbutton {
  display: flex;
  align-items: center;
  justify-content: start;
}

.addcartbutton button {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.8;
}

.cartbtn:hover {
  opacity: 1 !important;
}

.cartbtn.active {
  opacity: 1;
}

.addcartbutton .icon {
  padding: 0;
  margin: 0;
  color: maroon;
}

.addcartbutton h5 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.amount {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.amount h5 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.amount button {
  font-size: 30px;
  border: none;
  background-color: transparent;
}


.addtocart .addtocartbtn {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #1d1d1d;
  color: #f3f3f3;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}

.addtocart .addtocartbtn:hover {
  background-color: #f3f3f3;
  color: #1d1d1d;
}

@media(max-width:992px) {
  .singleproduct {
    display: block;
  }

  .singleproduct .content,
  .singleproduct .image {
    width: 100%;
  }

  .singleproduct .productimage {
    margin: 10px 0;
  }

  .singleproduct .imagegroup {
    width: 300px;
  }

  .singleproduct .imagegroup .image {
    width: 120px;
    height: 100px;
  }

  .singleproduct .mainimage img {
    height: 150px !important;
  }

  .singleproduct .reviews {
    display: block;
  }

  .singleproduct .des {
    text-align: justify;
  }

  .singleproduct .processship {
    flex-wrap: wrap !important;
  }

  .singleproduct .processship .processbox {
    width: 120px;
    margin: 10px 0;
  }
}

/* product section */
.product {
  display: flex;
  justify-content: space-between;
}

.product .productfilter {
  width: 30% !important;
}

.product .products {
  width: 70%;
}

.product .productgrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product .productgrid .card {
  margin: 20px 0;
}

.product .prouductlist {
  width: 100%;
  padding: 10px;
}

.productlist .list {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.productlist .list .image {
  width: 40%;
  height: 200px;
  border-radius: 10px;
  margin: auto 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productlist .list img {
  width: 100%;
  height: 100%;
}

.productlist .content {
  width: 60%;
  padding: 5px 10px;
}

.productlist .content h5 {
  margin: 0;
  color: black;
  font-weight: bold;
}

.productlist .content p {
  margin: 0;
  color: black;
  line-height: 20px;
  font-size: 16px;
}

.product .productsort {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.product .productsort .sortbtn {
  display: flex;
  gap: 20px;
}

.product .productsort button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .productsort .icon {
  font-size: 25px;
}

.product .productsort .active {
  background-color: #1d1d1d;
  color: #f3f3f3;
}

.product .productsort h5 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.product .selectitem {
  padding: 3px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
}

.product .selectitem option {
  font-size: 16px;
  font-weight: bold;
}

.product .productfilter {
  padding: 0 10px;
}

.product .productfilter .filterproduct .search {
  width: 100%;
  padding: 10px;
}

.product .productfilter input {
  font-size: 18px;
  font-weight: bold;
  padding: 2px;
  outline: none;
  border: 2px solid black;
}

.product .productfilter .filterproduct input::placeholder {
  font-weight: bold;
  color: black;
}